*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.MainHeader{
    background-image: url(../img/bg.png) ;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.header1 .fa-headphones-simple{
    font-size: 20px;
}
.header1 h3{
    font-family: italic;
}
.HeaderTopButton{
    padding-top: 20px;
}
.header1 .btn-outline-warning{
    padding: 5px 17px;
    border: 2px solid #CDA861;
border-radius: 50px;
color: #fff;
font-family: Bold;
font-size: 22px;
line-height: 27px;
}
.header1 .btn-outline-warning:hover{
 background-color: #CDA861;
 border: 2px solid #CDA861;
}
.header1 .btn-warning{
    padding: 5px 17px;
    background: #CDA861;
box-shadow: 0px 5px 10px rgba(52, 56, 61, 0.2);
border-radius: 50px;
font-size: 22px;
line-height: 27px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',;
border: 2px solid #CDA861;
}
.header1 .btn-warning:hover{
    color: #fff;
    background: transparent;
    border: 2px solid #CDA861;
}
.header1 .HeaderTopLeft{
    padding-top: 37px;
}
.header1 .HeaderTopLeft .fa-headphones-simple{
    font-size: 22px;
    cursor: pointer;
}
.header1 .HeaderTopLeft .numberLogo{
    color: #000;
    font-size: 22px;
    line-height: 25px;
    text-decoration: none;
    margin-left: 10px;
}
.header1 .HeaderTopLeft .HeaderH3{
    font-size: 22px;
    font-family: 'Roboto Serif', sans-serif;
font-family: 'Satisfy', cursive;
margin-left: 60px;
}

/* ============navbar========== */
.navbar .navbar-brand{
    background: #34383D;
    padding: 11px 48px;
    color: #fff;
    font-size: 30px;
    line-height: 47px;
    margin-top: 27px;
}
.collapse .navbar-nav{
    padding-top: 30px;
  
}
.collapse .navbar-nav .nav-item{
    padding-left: 30px;
}

.collapse .navbar-nav .nav-item .active:hover{
    color:#CDA861;
}
.collapse .navbar-nav .nav-item a{
    color: #727579;


}
.collapse .navbar-nav .active{
    color: rgb(3, 3, 3) !important;
}
.collapse .navbar-nav .nav-item a:hover{
    color: #CDA861;

}
.collapse .navbar-nav .HeaderIcons{
    cursor: pointer;
    font-size: 20px;
    color: #CDA861;
    margin-left: 314px;
}

.collapse .navbar-nav .HeaderIcons .fa-cart-shopping{
    padding-left: 30px;
}
.HeaderContent .HeaderTextH1{
    margin-top: 91px;
    font-size: 76px;
    line-height: 92px;
    font-weight: 600;
    color: #34383D;
}
.HeaderContent .HeaderTextH1 .HeaderSpan{
  text-decoration: underline;
    color: #CDA861;
}
.HeaderContent .HeaderTextP{
    margin-top: 30px;
    font-size: 22px;
    line-height: 26px;
    color: #34383D;
font-family: inter, sans-serif;
opacity: 0.8;
}
.HeaderContent .BtnHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    padding: 9px 43px;
    border-radius: 50px;
    background: #CDA861;
box-shadow: 0px 5px 10px rgba(205, 168, 97, 0.29);
margin-bottom: 100px;
}
.HeaderContent .BtnHeader:hover{
    color: rgb(26, 15, 15);
    background: transparent;
   border: 1px solid #CDA861;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}